#posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#posters > div{
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#posters > div > img{
    width: 100%;
}

#posters > div > button{
    background-color: skyblue;
    border: 0;
    padding: 5px 16px;
    margin-bottom: 20px;
}